*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
   
    /* background-color: rgb(226, 144, 158) */
    /* background: linear-gradient(rgb(247, 168, 181),rgb(218, 118, 218)); */
    
    
}

.not-found-card{
    width: 16em;
    height: 30vh;
    font-size: 30px;
    text-align: center;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
    /* border: 1px solid black; */
    margin-top: 100px;
    
    margin-left: 290px;
    padding: 20px 20px;
    color:black;
    font-weight: bolder;
    background-color:white;
    transform: scale(0.9);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}



.not-found-card:hover{
    transform: scale(0.9);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.not-found-card p{
    margin-top: 10px;
    
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    
    font-size: 20px;
}


.main{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-card{
    width:72em;
    height: 80vh;
    background-image: url(../images/pexels-jokassis-5522697.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px 20px ;
    display: flex;

}
.card-left{
    width: 35em;
    height: 80vh;
    /* border: 1px solid rgb(231, 220, 220); */
    box-shadow: rgba(27, 27, 27, 0.35) 0px 4px 10px;

    border-radius: 40px 20px  ;
   
    position: relative;

}

.weather-text{
    font-family: Libre Baskerville, serif;
    /* font-family: Ga Maamli, sans-serif; */
    font-size: 25px;
    position: absolute;
    top: 5%;
    left: 6%;
}
.search h4{
    font-family: Libre Baskerville, serif;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    
}
.search{
    position: absolute;
    top: 30%;
    left: 20%;
    /* text-align: center; */
}

#search-input{
    padding: 8px 20px;
    border-radius: 1.5em;
    width: 60%;
    background-color: white;
    /* padding: 0.75em; */
}

.search-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
}


/* .card-right{
    width: 40em;
    height: 70vh;
    border: 1px solid rgb(231, 220, 220);
    border-radius: 40px 20px ;
} */

.city-name{
   margin-left: 30px;
   margin-top: 20px;
    font-size: 30px;

}

.card{
    width: 100%;
    /* background-color: rgb(145, 36, 36); */
    box-shadow: rgba(36, 34, 34, 0.9) 0px 6px 12px -2px, rgba(51, 50, 50, 0.9) 15px 35px 70px -2px;
    
    color: black;
    /* border: 1px solid black; */
    margin-top:40px;
    margin-left: 30px;
    padding: 30px 40px;
    font-size: 20px;

}

.temp{
    margin-bottom: 10px;
}
.type{
/* background-color: blue; */
margin-bottom: 10px;


}
.icon{
    float: right;
    width: 70px;
    /* background-color: red; */
}


.date{
    color: black;
}

#weather-details{
    /* width: 100%; */
    position: absolute;
    top: 65%;
    left: 50%;
}
table{
    display: flex;
    table-layout: fixed;
    width: 20rem;
    border-spacing: 4px;
}
td{

    padding: 6px;
    /* background-color: blueviolet; */
   /* border: 1px solid black; */
    text-align: center;
    /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
    box-shadow: rgba(5, 5, 5, 0.9) 0px 6px 12px -2px, rgba(22, 22, 22, 0.7) 5px 3px 7px -3px;
    
    /* border: 1px solid saddlebrown; */

}
td p{
    font-size: 16px;
    padding-bottom: 2px;
    width: 90px;
}
td h3{
    font-size: 18px;
}

/* Media Query for responsiveness */
@media (min-width:300px) and (max-width:399.98px){
    .main-card{
        width: 19em;
        height: 60vh;
        
               
       
     }
     .card-left{
        width: 9em;
        height: 60vh;
       

     }
     .weather-text{
       
        font-size: 20px;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .search h4{
        font-size: 8px;
        margin-bottom: 10px;
        
    }
    .search{
        position: absolute;
        top: 30%;
        left: 20%;
        /* text-align: center; */
    }
    
    #search-input{
       
        padding: 4px 7px;
        border-radius: 1.3em;
        width: 90%;
       
    }
    
    .search-btn{
       padding: 5px 10px;
     
      
       margin-top: 10px;
       margin-left: 10px;
      
       
      
       
    }

    .city-name{
         font-size: 20px;
     
     }
     
     .card{
         width: 100px;
         margin-top:20px;
         margin-left: 20px;
         padding: 5px 10px;
         font-size: 10px;
     }
     
     .temp{
         margin-bottom: 10px;
     }
     .type{
     /* background-color: blue; */
     margin-bottom: 10px;
     
     
     }
     .icon{
         float: right;
         width: 50px;
         /* background-color: red; */
     }
     
     
     .date{
         color: black;
         font-size: medium;
     }
     
     #weather-details{

        
         position: absolute;
         top: 55%;
         left: 48%;
     }
     table{
       
         /* display: flex; */
         /* table-layout: fixed; */
         width: 4rem;
         border-spacing: 3px;
          
     }
     td{
       
         padding: 2px;
         /* background-color: blueviolet; */
        /* border: 1px solid black; */
         text-align: center;
         /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
         box-shadow: rgba(5, 5, 5, 0.9) 0px 6px 12px -2px, rgba(22, 22, 22, 0.7) 5px 3px 7px -3px;
         
         /* border: 1px solid saddlebrown; */
     
     }
     td p{
         font-size:6px;
         padding-bottom: 2px;
         width: 24px;
         font-weight: bold;
     }
     td h3{
         font-size: 5px;
         font-weight: bold;
     }

     .not-found-card{
        
        height: 30vh;
        font-size: 20px;
        text-align: center;
        
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
        /* border: 1px solid black; */
        margin-top: 100px;
        
      
        padding:5px 8px;
       
        transform: scale(0.9);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    } 
}



@media (min-width:400px) and (max-width:575.98px){
    .main-card{
        width: 26em;
        height: 80vh;
        
               
       
     }
     .card-left{
        width: 11em;
       

     }
     .weather-text{
       
        font-size: 15px;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .search h4{
        font-size: 9px;
        
    }
    .search{
        position: absolute;
        top: 30%;
        left: 20%;
        /* text-align: center; */
    }
    
    #search-input{
       
        padding: 4px 7px;
        border-radius: 1.5em;
        width: 90%;
       
    }
    
    .search-btn{
       padding: 5px 10px;
       margin-left: 10px;
       
      
       
    }

    .city-name{
         font-size: 20px;
     
     }
     
     .card{
         width: 100%;
         margin-top:20px;
         margin-left: 30px;
         padding: 5px 10px;
         font-size: 10px;
     }
     
     .temp{
         margin-bottom: 10px;
     }
     .type{
     /* background-color: blue; */
     margin-bottom: 10px;
     
     
     }
     .icon{
         float: right;
         width: 50px;
         /* background-color: red; */
     }
     
     
     .date{
         color: black;
         font-size: medium;
     }
     
     #weather-details{

         /* width: 100%; */
         position: absolute;
         top: 55%;
         left: 45%;
     }
     table{
       
         /* display: flex; */
         /* table-layout: fixed; */
         width: 5rem;
         border-spacing: 3px;
          
     }
     td{
       
         padding: 2px;
         /* background-color: blueviolet; */
        /* border: 1px solid black; */
         text-align: center;
         /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
         box-shadow: rgba(5, 5, 5, 0.9) 0px 6px 12px -2px, rgba(22, 22, 22, 0.7) 5px 3px 7px -3px;
         
         /* border: 1px solid saddlebrown; */
     
     }
     td p{
         font-size: 8px;
         padding-bottom: 2px;
         width: 35px;
         font-weight: bold;
     }
     td h3{
         font-size: 9px;
     }

     .not-found-card{
        width: 20em;
        height: 30vh;
        font-size: 20px;
        text-align: center;
        
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
        /* border: 1px solid black; */
        margin-top: 100px;
        
        margin-left: 90px;
        padding:5px 8px;
       
        transform: scale(0.9);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
   
    
 } 

@media (min-width:576px) and (max-width:767.98px){
     .main-card{
        width: 35em;
               
       
     }
     .card-left{
        width: 19em;
       

     }
     .weather-text{
       
        font-size: 15px;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .search h4{
        font-size: 10px;
        
    }
    .search{
        position: absolute;
        top: 30%;
        left: 20%;
        /* text-align: center; */
    }
    
    #search-input{
        padding: 4px 6px;
        border-radius: 1.5em;
        width: 40%;
       
    }
    
    .search-btn{
        padding: 5px 8px;
        margin-left: 10px;
    }

    .city-name{
         font-size: 20px;
     
     }
     
     .card{
         width: 100%;
         margin-top:20px;
         margin-left: 30px;
         padding: 5px 10px;
         font-size: 10px;
     }
     
     .temp{
         margin-bottom: 10px;
     }
     .type{
     /* background-color: blue; */
     margin-bottom: 10px;
     
     
     }
     .icon{
         float: right;
         width: 50px;
         /* background-color: red; */
     }
     
     
     .date{
         color: black;
     }
     
     #weather-details{

         /* width: 100%; */
         position: absolute;
         top: 45%;
         left: 50%;
     }
     table{
         /* display: flex; */
         /* table-layout: fixed; */
         width: 5rem;
         border-spacing: 3px;
         margin-left: 38px;
     }
     td{
       
         padding: 2px;
         /* background-color: blueviolet; */
        /* border: 1px solid black; */
         text-align: center;
         /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
         box-shadow: rgba(5, 5, 5, 0.9) 0px 6px 12px -2px, rgba(22, 22, 22, 0.7) 5px 3px 7px -3px;
         
         /* border: 1px solid saddlebrown; */
     
     }
     td p{
         font-size: 8px;
         padding-bottom: 2px;
         width: 40px;
     }
     td h3{
         font-size: 9px;
     }

     .not-found-card{
        width: 20em;
        height: 30vh;
        font-size: 20px;
        text-align: center;
        
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
        /* border: 1px solid black; */
        margin-top: 100px;
        
        margin-left: 90px;
        padding:5px 8px;
       
        transform: scale(0.9);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    
}

@media (min-width:768px) and (max-width:991.98px){
    .main-card{
        width: 45em;
               
       
     }
     .card-left{
        width: 20em;
       

     }
     .weather-text{
       
        font-size: 20px;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .search h4{
        font-size: 18px;
       margin-bottom: 10px;
      
        
    }
   
    
    #search-input{
        padding: 5px 6px;
        border-radius: 1.5em;
        width: 50%;
       
    }
    
    .search-btn{
        padding: 10px 12px;
        margin-left: 10px;
    }

    .city-name{
         font-size: 25px;
     
     }
     
     .card{
         width: 100%;
         margin-top:20px;
         margin-left: 30px;
         padding: 10px 20px;
         font-size: 20px;
     }
     
    
    
     .icon{
         float: right;
         width: 60px;
         /* background-color: red; */
     }
     
     
    
     
     #weather-details{

         /* width: 100%; */
         position: absolute;
         top: 65%;
         left: 48%;
     }
     table{
         /* display: flex; */
         /* table-layout: fixed; */
         width: 5rem;
         border-spacing: 3px;
         margin-left: 10px;
     }
     td{
       
         padding: 2px;
         /* background-color: blueviolet; */
        /* border: 1px solid black; */
         text-align: center;
         /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
         box-shadow: rgba(5, 5, 5, 0.9) 0px 6px 12px -2px, rgba(22, 22, 22, 0.7) 5px 3px 7px -3px;
         
         /* border: 1px solid saddlebrown; */
     
     }
     td p{
         font-size: 12px;
         padding-bottom: 2px;
         width: 60px;
     }
     td h3{
         font-size: 8px;
     }

     .not-found-card{
        width: 20em;
        height: 30vh;
        font-size: 20px;
        text-align: center;
        
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
        /* border: 1px solid black; */
        margin-top: 100px;
        
        margin-left: 90px;
        padding:5px 8px;
       
        transform: scale(0.9);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
 
}