*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
   
    background-color: rgb(226, 144, 158)
    /* background: linear-gradient(rgb(247, 168, 181),rgb(218, 118, 218)); */
    
    
}

.not-found-card{
    width: 16em;
    height: 30vh;
    font-size: 30px;
    text-align: center;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
    /* border: 1px solid black; */
    margin-top: 100px;
    
    margin-left: 290px;
    padding: 20px 20px;
    color:black;
    font-weight: bolder;
    background-color:white;
    transform: scale(0.9);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}



.not-found-card:hover{
    transform: scale(0.9);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.not-found-card p{
    margin-top: 10px;
    
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    
    font-size: 20px;
}


.main{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-card{
   width:70em;
    height: 70vh;
    background-color: rgb(230, 158, 230);
    /* border: 1px solid black; */
    border-radius: 40px 20px ;
    /* background-color: beige; */

    display: flex;

}
.card-left{
    width: 35em;
    height: 70vh;
    /* border: 1px solid rgb(231, 220, 220); */
    box-shadow: rgba(141, 139, 139, 0.35) 0px 4px 10px;
   
    border-radius: 40px 20px 20px ;
    background-color: beige;
    /* background-color:pink; */
    position: relative;

}

.weather-text{
    font-family: Libre Baskerville, serif;
    /* font-family: Ga Maamli, sans-serif; */
    font-size: 25px;
    position: absolute;
    top: 5%;
    left: 6%;
}
.search h4{
    font-family: Libre Baskerville, serif;
    margin-bottom: 20px;
    
}
.search{
    position: absolute;
    top: 30%;
    left: 20%;
    /* text-align: center; */
}

#search-input{
    padding: 8px 20px;
    border-radius: 1.5em;
    width: 60%;
    background-color: white;
    /* padding: 0.75em; */
}

.search-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
}


/* .card-right{
    width: 40em;
    height: 70vh;
    border: 1px solid rgb(231, 220, 220);
    border-radius: 40px 20px ;
} */

.city-name{
   margin-left: 30px;
   margin-top: 20px;
    font-size: 30px;

}

.card{
    width: 100%;
    /* background-color: rgb(145, 36, 36); */
    box-shadow: rgba(5, 5, 5, 0.25) 0px 6px 12px -2px, rgba(22, 22, 22, 0.3) 15px 35px 70px -20px;
    
    color: black;
    /* border: 1px solid black; */
    margin-top:30px;
    margin-left: 30px;
    padding: 30px 30px;
    font-size: 20px;

}

.temp{
    margin-bottom: 10px;
}
.type{
/* background-color: blue; */
margin-bottom: 10px;


}
.icon{
    float: right;
    width: 70px;
    /* background-color: red; */
}


.date{
    color: black;
}

#weather-details{
    position: absolute;
    top: 65%;
    left: 52%;
}
table{
    /* table-layout: fixed; */
    width: 20rem;
    border-spacing: 4px;
}
td{
    padding: 5px;
    /* background-color: blueviolet; */
   /* border: 1px solid black; */
    text-align: center;
    /* box-shadow: rgba(66, 65, 65, 0.35) 0px 5px 15px; */
    box-shadow: rgba(5, 5, 5, 0.25) 0px 6px 12px -2px, rgba(22, 22, 22, 0.3) 5px 3px 7px -3px;
    
    /* border: 1px solid saddlebrown; */

}
td p{
    font-size: 16px;
    padding-bottom: 2px;
    width: 90px;
}
td h3{
    font-size: 18px;
}